body {
    background-color: #ffdacc;
    color: #2e1612;
}
h1 {
    color: #e85977;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.linkedin {
    color: #a87770;
}
.email {
    color: #a87770;
}
nav {
    background-color: #3a2721;
}
nav a {
    color:#a87770;
}
nav a:hover {
    background-color:#e85977;
}
nav {
    padding: 10px;
}
nav {
    margin-bottom: 30px;
}
img {
    width: 40%;
    height: 50%;
}
.parent {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.row2 {
    background-color: #3a2721;
    color: #ffffff;
}
.row2 {
    width: 70%;
    height: 70%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}
.img {
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
    span {
        display: none;
    }
    nav, nav a {
    max-width: 100%;
    display: block;
    }
}